PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/pixenbuy
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CORS_ORIGIN=http://localhost:5173
ADMIN_SECRET_KEY=your-super-secret-admin-key
ADMIN_EMAIL=admin@pixenbuy.com
