@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.all-images {
  height: 250px;
  width: 100%;
}

.golden-star {
  color: goldenrod;
  font-size: 24px;
}

.normal-star {
  font-size: 24px;
  color: gray;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  border: 1px solid gray;
  border-radius: 3px;
}

.headline {
  font-weight: 500;
  font-size: 2.2rem;
  margin: auto;
  text-align: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  color: #fff;
  width: 450px;
  margin-top: 5rem;
}

/* end of global CSS */

header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  height: 12vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.logo {
  font-size: 2rem;
}

nav,
.sideNav {
  display: flex;
  gap: 1rem;
  user-select: none;
}

nav a {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

nav a:hover {
  color: #00d84a;
  font-weight: 600;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 12vh;
  left: 50vw;
  background: #333;
}

.dropdown-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.sideNav i {
  font-size: 1.3rem;
  background-color: #cad5e2;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.sideNav i:hover {
  background-color: #333;
  color: #fff;
}

.searchBox {
  background-color: #ccc;
  color: #333;
  outline: none;
  width: 250px;
  position: absolute;
  left: 74vw;
  top: 12vh;
  padding: 0.5rem;
  font-size: 1rem;
  display: none;
}

.searchBox::placeholder {
  color: #333;
}

.searchDiv {
  width: 250px;
  height: 400px;
  background-color: #fff;
  color: #000;
  position: absolute;
  left: 74vw;
  top: 17vh;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result-item {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.cartDiv {
  width: 350px;
  height: 550px;
  background-color: #fff;
  position: fixed;
  top: 12vh;
  right: 3rem;
  padding: 0.7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
  overflow: auto;
}

.productsInCart {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.productsInCart h3 {
  font-weight: 500;
  font-size: 1.3rem;
}

.cart-img {
  width: 80px;
  height: 80px;
}

#cartBtn {
  background-color: coral;
  color: #fff;
  padding: 0.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 620px;
  right: 3rem;
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}

.product-details {
  width: 200px;
}

.remove-icon {
  position: relative;
  right: 1rem;
  height: 100px;
}

#remove-cart-item {
  cursor: pointer;
}

/* Webkit-based browsers (Chrome, Safari) */
.cartDiv::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.cartDiv::-webkit-scrollbar-thumb {
  background-color: coral; /* Color of the scrollbar thumb */
}

/* For Firefox */
.cartDiv {
  scrollbar-color: coral; /* Color of the scrollbar thumb (for Firefox) */
}

/* end of header */

#hero {
  background: url(../assets/Misc/hero.png) no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero p {
  font-size: 1.3rem;
  color: #333;
}

#hero .shop-now {
  border: 2px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #333;
  margin-top: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 500;
}

#hero .shop-now:hover {
  background-color: #333;
  color: #fff;
  border: none;
}

/* end of hero */

#features {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feature-list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem 2rem 1rem;
  width: 350px;
}

.feature-list:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.feature-list h3 {
  margin: 1rem auto;
  font-size: 2rem;
}

.feature-list a {
  font-size: 1rem;
  background-color: coral;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.feature-list a:hover {
  background-color: #333;
  color: #fff;
  border: none;
}

/* end of features */

#products {
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.product-list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem 2rem 1rem;
  width: 300px;
}

.product-list:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.product-list h3 {
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem 0;
}

.product-list p {
  color: #333;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.product-list a {
  font-size: 1rem;
  background-color: coral;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.product-list a:hover {
  background-color: #333;
  color: #fff;
  border: none;
}

/* end of products */

.category-section {
  padding: 5rem 1rem;
  display: flex;
  gap: 4rem;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.items {
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem 2rem 1rem;
}

.items:hover {
  cursor: pointer;
}

.product-title {
  font-weight: 500;
  margin: 1rem 0;
  display: block;
  font-size: 1.9rem;
}

.product-title:hover {
  color: #1b98f5;
}

.product-price {
  color: gray;
  font-weight: 600;
  margin-bottom: 2rem;
}

.add-cart-btn {
  background-color: coral;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.add-cart-btn:hover {
  background-color: #333;
  color: #fff;
  border: none;
}

.rating-quantity {
  flex-direction: column;
}

/* end of fruits and veggies */

#customer-review {
  display: flex;
  gap: 2rem;
  padding: 5rem 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.reviews {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
  width: 350px;
}

#customer-review img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}

.customer-review {
  margin: 2rem 0;
}

.customer-name {
  font-weight: 500;
  font-size: 1.7rem;
}

/* end of customer's review */

#blogs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 5rem 0;
}

.blog {
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

.blog-desc {
  padding: 0.5rem;
}

.blog-btn {
  margin: 1rem 0 1rem 0.5rem;
  background: coral;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 0.5rem;
}

/* end of blog section */

#footer {
  box-shadow: rgb(220, 220, 220) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  gap: 2rem;
  padding: 3rem 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info,
.contact-info,
.quick-links,
.newsletter {
  width: 300px;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media i {
  font-size: 1.2rem;
  background: #ccc;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.social-media i:hover {
  background-color: #333;
  color: #fff;
}

.newsletter input {
  background-color: #dfebf3;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}

.newsletter button {
  border: 2px solid #000;
  padding: 0.4rem 1.7rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.newsletter button:hover {
  background-color: #333;
  color: #fff;
}

/* end of footer */

/* MEDIA QUERIES */
@media (max-width: 950px) {
  nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 12vh;
    right: 0;
    background-color: #fff;
    height: 100vh;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  }

  nav a {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
  }

  .hamburger {
    display: inline;
  }

  .searchBox,
  .searchDiv {
    left: 40vw;
  }
}

@media (max-width: 650px) {
  #hero {
    align-items: flex-start;
    padding: 0 1rem;
  }
}

@media (max-width: 475px) {
  .logo {
    font-size: 1.5rem;
  }

  .sideNav i {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: transparent;
  }

  .sideNav{
    gap: 1px;
  }

  .hamburger i {
    font-size: 1.8rem;
  }

  .all-images {
    height: auto;
  }

  .headline {
    font-size: 1.5rem;
    width: auto;
    margin: 0 1rem;
  }

  .category-section {
    width: 100%;
  }

  #footer {
    padding: 3rem 1rem;
  }

  .searchBox,
  .searchDiv {
    left: 0.5rem;
    width: 95%;
  }

  .cartDiv,
  #cartBtn {
    width: 100%;
    right: 0;
  }

  .product-details {
    width: 200px;
  }

  .remove-icon {
    width: auto;
  }
}


@media (max-width: 300px) {
  #hero {
    height: 90vh;
  }
}
